// colors
$color-white: #fff;
$color-white: #626482;

$color-primary: #6f50ff;
$color-secondary: #b047ff;
$color-tertiary: #ffa35d;

$color-light-blue:#d2daf6;
$color-light-green:#c2e5cb;
$color-dark-green:#5ab772;
$color-light-red:#edccd1;
$color-light-orange:#fecaa2;


// font-weights