// colors
$color-white: #fff;
$color-dark: #626482;

$color-primary: #6f50ff;
$color-secondary: #b047ff;
$color-tertiary: #ffa35d;

$color-light-blue:#d2daf6;
$color-light-green:#c2e5cb;
$color-dark-green:#5ab772;
$color-light-red:#edccd1;
$color-light-orange:#fecaa2;


// font-weights
$light:300;
$regular:400;
$medium:500;


// start
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
body{
    width: 100vw;
}
