.header {
    width: 100%;
    background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
    position: relative;
    overflow: hidden;
}

.wave {
    position: absolute;
    left: 0;
    bottom: -1rem;
    width: 200%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
    animation: move_wave 20s linear infinite;
}

.about-secondary {
    background-image: linear-gradient(to right bottom, $color-secondary, $color-primary);
    position: relative;
    padding-bottom: 10rem;
}

.contact {
    .container {
        padding-bottom: 0;
    }
}

.footer {
    width: 100%;
    padding: 20rem 0 5rem;
    margin-top: -10rem;
    background-color: #f6f5ff;
    clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
    text-align: center;

    .paragraph {
        width: 70%;
    }

    @media only screen and(max-width:56.25em) {
        clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
    }
}

.divider {
    width: 100%;
    height: 40rem;
    background-color: $color-white;
    clip-path: polygon(0 60%, 100% 0, 100% 100%, 0% 100%);
    background-color: $color-white;
    position: absolute;
    bottom: -5rem;
    left: 0;
    z-index: 1;

    @media only screen and(max-width:56.25em) {
        clip-path: polygon(0 40%, 100% 45%, 100% 100%, 0 100%);
    }
}

.container {
    max-width: 120rem;
    padding: 5rem;
    margin: 5rem;
    margin: 0 auto;

    &__paragraph {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    @media only screen and(max-width:37.5em) {
        padding: 3rem;
    }
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @media only screen and(max-width:57em) {
        flex-direction: column;
    }
}

.d-column {
    flex-direction: column;
}

.col-1-of-2 {
    flex: 1;
    padding: 5rem;

    &:last-child {
        padding-left: 3rem;
        padding-right: 0;
    }

    &>* {
        margin-bottom: 1.5rem;
    }
}

.col-1-of-3 {
    flex: 1;
    padding: 3rem;

    @media only screen and(max-width:75em) {
        padding: 2rem;
    }

    @media only screen and(max-width:57em) {
        padding: 3rem;
    }
}