// margin
.m-1{
    margin: 2rem !important;
}
.m-2{
    margin: 5rem !important;
}
.m-3{
    margin: 9rem !important;
}
.m-4{
    margin: 12rem !important;
}
.m-auto{
    margin: auto !important;
}


// margin-top
.mt-1{
    margin-top: 2rem !important;
}
.mt-2{
    margin-top: 5rem !important;
}
.mt-3{
    margin-top: 9rem !important;
}
.mt-4{
    margin-top: 12rem !important;
}

// margin-bottom
.mb-0{
    margin-bottom: 1.8rem !important;
}
.mb-1{
    margin-bottom: 2rem !important;
}
.mb-2{
    margin-bottom: 3rem !important;
}
.mb-3{
    margin-bottom: 9rem !important;
}
.mb-4{
    margin-bottom: 12rem !important;
}


// margin-right
.mr-1{
    margin-right: 2rem !important;
}
.mr-2{
    margin-right: 3rem !important;
}
.mr-3{
    margin-right: 9rem !important;
}

.mr-4{
    margin-right: 12rem !important;
}

// margin-left
.ml-1{
    margin-right: 2rem !important;
}
.ml-2{
    margin-right: 3rem !important;
}
.ml-3{
    margin-right: 9rem !important;
}

.ml-4{
    margin-right: 12rem !important;
}
